<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:spring="http://java.sun.com/xml/ns/javaee">
<head>
    <meta charset="UTF-8" />
    <link th:href="@{/css/bootstrap-3.0.3.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<div class="navbar navbar-default">
    <div class="container">
        <a class="navbar-brand"><span class="rd-red">My</span><span class="rd-blue">Movies</span></a>


        <ul class="nav navbar-nav">
            <li><a th:href="@{/index}">Home</a></li>
            <li><a th:href="@{/ex}">MyList</a></li>
            <li><a th:href="@{/saveFilm}">AddToList</a></li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="page-header text-center">
        <h3><span class="rd-red">My</span><span class="rd-blue">List</span> </h3>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-striped table-hover">
                <thead>
                <tr>

                    <th><a th:href='@{/sortAsc(field=${"title"})}'>Title</a></th>
                    <th><a th:href='@{/sortAsc(field=${"description"})}'>Description</a></th>
                    <th><a th:href='@{/sortAsc(field=${"releaseYear"})}'>Year</a></th>
                    <th><a th:href='@{/sortAsc(field=${"length"})}'>Duration</a></th>
                    <th>Actions</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="f : ${filmList}">

                    <td th:text="${f.title}"></td>
                    <td th:text="${#strings.abbreviate(f.description,20)}"></td>
                    <td th:text="${f.releaseYear}"></td>
                    <td th:text="${f.length}"></td>
                    <td>
                        <div style="width: 50%; float: left">
                        <form method="post" action="/deleteFilm">
                            <input type="hidden" th:value="${f.id}" name="filmid"/>
                        <button type="submit" class="btn btn-xs">Delete</button>
                        </form>
                        </div>
                        <div style="width: 50%; float: right">
                        <form method="get" action="/updateFilm">
                            <input type="hidden" th:value="${f.id}" name="filmid"/>
                            <button type="submit" class="btn btn-xs">Edit</button>
                        </form>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <hr/>
</div>
<script th:src="@{/js/jquery-2.0.2.min.js}"></script>
<script th:src="@{/js/bootstrap-3.0.3.min.js}"></script>
</body>
</html>